.Monts400{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.Monts500{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.Monts600{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.Monts500I{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: italic;
}

.Monts600I{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: italic;
}

.font16{
    font-size: 16px;
}

.font18{
    font-size: 18px;
}

.font20{
    font-size: 20px;
}

.font24{
    font-size: 24px;
}

.font32{
    font-size: 32px;
}

.font36{
    font-size: 36px;
}

.font40{
    font-size: 40px;
}

.font64{
    font-size: 64px;
}